<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WeatherApp</title>
    <!-- To add in order to scale the view for mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/0e43b3ea77.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="./stylesheets/login.css">
  </head>
  <body>
    <h2 id="getStarted">Get started with WeatherApp!</h2>

		<div class="globalForm">

			<div class="signBox">
        <h4>Sign Up</h4>
        <form class="formGlobal">

          <div class="formGroup">
            <label for="exampleInputUsername">Username</label>
            <input
            type="text"
            class="formcontrol"
            placeholder="Enter username"/>
          </div>

          <div class="formGroup">
            <label for="exampleInputEmail1">Email address</label>
            <input
            type="email"
            class="formcontrol"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            />
          </div>

          <div class="formGroup">
            <label for="exampleInputPassword1">Password</label>
            <input
            type="password"
            class="formcontrol"
            placeholder="Enter password"
            />
          </div>

          <button type="submit" class="submitBtn">Submit</button>
          
        </form>
      </div>

      <div class="signBox">
        <H4>Sign In</H4>
        <form class="formGlobal">

          <div class="formGroup" id="SignInUsernameBox">
            <label for="exampleInputUsername">Username</label>
            <input
            type="text"
            class="formcontrol"
            placeholder="Enter username"/>
          </div>

          <div class="formGroup" id="SignInEmailnameBox">
            <label for="exampleInputEmail1" >Email address</label>
            <input
            type="email"
            class="formcontrol"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            />
          </div>

          <div class="formGroup">
            <label for="exampleInputPassword1">Password</label>
            <input
            type="password"
            class="formcontrol"
            placeholder="Enter password"
            />
          </div>

          <button type="submit" class="submitBtn">Submit</button>
          
        </form>
      </div>
		</div>


      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

